
{% extends 'base.html' %}

{% block content %}

<h3>News</h3>

{% if articles %}

{% for a in articles %}
	<hr>
	<p>
	<span style="font-size:20px;">{{ a.header }} - </span> <span style="font-weight:bold">{{ a.author|title }}</span> - <span style="font-size:12px;">{{ a.pub_date|date:"F d, Y H:i" }} </span>
	</p>
	<p>
	{{ a.text|linebreaksbr }}
	</p>
	{% if a.image %}
	<img src="{{ MEDIA_URL }}{{ a.image }}" width="100%"></img>
	{% endif %}
{% endfor %}

{% else %}
<p>No articles yet!</p>

{% endif %}

{% endblock %}