
body {
	background: #eee url('../imgs/simple_dashed.png');
	margin: 50px 0px; 
	padding: 0px;
	font-size:13px;
	font-family: arial, calibri, serif;
	color:#c8cfdb;
}

#center {
	margin: 0px auto;
	padding: 0px;
	width: 780px;
	overflow:auto;
	box-shadow: 0px 5px 6px #000;
}

#wrapper {
	/* border: 1px solid red; */
	background:#171a21;
	padding: 20px;
	min-height: 100px;
}

div {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#header {
	height:100px;
	background: #1b1b1b url('../imgs/deorum_header_1.png');
	margin-bottom:-13px;
}

#menu-1 {
	margin-top:0;
	height:22px;
	background: #1b1b1b url('../imgs/menu-1.png');
	border-bottom: 1px solid #222;
}

#menu-1 ul {
	width: 90%;
	text-align: center;
}

#menu-1 li {	
	/* background: url('../imgs/deorum_li.png'); */
	width: 130px;
	display: inline-block;
	font-weight: bold;
	font-family: monospace, Times New Roman, Arial;
}

#menu-1 ul li:hover {
	
}

#menu-1 ul li ul {
	padding: 0;
	position: absolute;
	margin-left: -10px;
	visibility: hidden;
	width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: 0px 1px 5px #444;
  display: none;
  opacity: 0;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

#menu-1 ul li ul li { 
  background: #111; 
  width: 150px;
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #111;
}
#menu-1 ul li ul li:hover { 
	background: #111; 
}

#menu-1 ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

#content {
	width:720px;
	margin: 0px auto;
	min-height: 260px;
}

#comment-wrapper {
	width:740px;
	/* box-shadow: 0px 3px 10px #444; */
	border-bottom: 1px solid #666;
	overflow:auto;
}

#div-avatar {
	min-height:125px;
	width: 140px;
	background: #222;
	border-right: 1px solid #666;
	float:left;
	padding:8px
}

#div-comment {
	float:right;
	padding:10px 15px 10px 15px;
	width:600px;
	min-height:125px;
	background: #0B243B;
	background: linear-gradient(#084B8A, #0B243B); /* For Safari */
	background: -o-linear-gradient(#084B8A, #0B243B); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#084B8A, #0B243B); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#0B243B, #0B3861); /* Standard syntax (must be last) */
}

#footer {
	margin-top:40px;
	height:30px;
	font-size:12px;
	text-align: center;
}

a, a:visited, a:active {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #b8e7ff;
	text-decoration: none;
}

.right {
	margin: 5px 0 5px 0;
	float:right;
}

ul {
	list-style-type: none;
}

input, select, textarea {
	margin: 1px 10px 1px 10px;
	color: black;
	min-width: 110px;
}

textarea {
	width: 500px;
	resize: none;
}

hr {
	display: block;
	border: 0;
	border-top: 1px solid #222;
}

.bold {
    font-weight: bold;
}

#applications td {
	width: 150px;
}

/* CLASS COLORS */

.warrior {
    color:#C79C6E;
}

.rogue {
    color: #FFF569;
}

.mage {
    color: #69CCF0;
}

.hunter {
    color: #ABD473;
}

.priest {
    color: #ffffff;
}

.paladin {
    color: #F58CBA;
}

.druid {
    color: #FF7D0A;
}

.monk {
    color: #00FF96;
}

.shaman {
    color: #0070DE;
}

.warlock {
    color: #9482C9;
}

.deathknight {
    color: #C41F3B;
}

h3 {
	margin-top: 9px;
	margin-bottom: 9px;
	font-size: 23px;
	font-weight: normal;
}

h4 {
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 17px;
	font-weight: normal;
}

h5 {
	margin-top: 7px;
	margin-bottom: 7px;
	font-size:15px;
	font-weight: normal;
}


