
{% extends 'base.html' %}

{% block content %}

<h3>About Deorum</h3>
<hr>

<p>
Deorum on battle.net: <a class="deo" target="_blank" href="http://eu.battle.net/wow/en/character/the-venture-co/Umas/simple">http://eu.battle.net/wow/en/character/the-venture-co/Umas/simple</a>
</p>

<p>
We're a relatively new guild that aims to become a closeknit group that know eachother well and enjoy playing together in Warlords of Draenor. We're not a hardcore raiding guild and we 
probably never will be. Our concern is to have a balance between progressing in raids, and just having fun and enjoying the social aspects of World of Warcraft. Playing and progressing together 
as a group is what we enjoy the most.
</p>

<p>
We will be raiding two evenings per week in Warlords of Draenor, probably on wednesdays and sundays. More info will be determined later. 
</p>

<p>
To join us you have to be at least 18 years old.
</p>

<p>
For further information, contact us in game:
<br>Guild Master: Umas
<br>Officers: Vathas, Artulis, Ceus
</p>


{% endblock %}