
{% load staticfiles %}

<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %} {{ TITLE }} {% endblock %}</title>
		
		<!-- jQuery, jQuery UI -->
		<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
		<script src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
		
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/jquery-ui-1.10.4.custom.min.css' %}" />
		
		<link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}imgs/favicon.png" />
		
		<!-- Latest compiled and minified CSS -->
		<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->

		<!-- Optional theme -->
		<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">-->

		<!-- Latest compiled and minified JavaScript -->
		<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
		

		
		<script>
			$(document).ready (function() {
				$('body').on('click', 'a#login_button', function(e) {
                    $('#login_div').dialog({
                        show: {
                            effect: "fade",
                            duration: 500
                        },
                        hide: {
                            effect: "fade",
                            duration: 250
                        },
                        buttons: { 
                            Login: function() { $('#login_form').submit(); $(this).dialog('close'); }, 
                            Cancel: function() { $(this).dialog('close'); } 
                        }, 
                        position: [e.pageX-150, e.pageY]
                    }); 
                });
				
				$('.login_input').keypress( function (e) {
                    if (e.which == 13) {
                        $('#login_form').submit();
                        $('#login_div').dialog('close');
                        return false;   // e.preventDefault and e.preventPropagation()
                    }
                });
			});
		</script>
		
	</head>
	<body>
	<div id="center">
		<!-- Login / Logout links -->
		{% if user.is_authenticated %}
		<span style="margin:0;padding:0;float:right;"><span style="font-style:italic;font-size:11px;">Logged in as {{ user|title }} </span><a href="{% url 'my_logout' %}" id="logout_button">Logout</a></span>
		{% else %}
		<span style="margin:0;padding:0;float:right;">
			<a href="{% url 'account:registration_page' %}" id="register_button">Register</a> | 
			<a href="#" id="login_button">Login</a>
		</span>
		{% endif %}
		
		<div id="header" style="clear:both">
			
		</div>
		<div id="menu-1">
			<ul>
				<li><a href="{% url 'news:news' %}">Home</a></li>
				<li><a href="{% url 'about' %}">About Deorum</a>
					<ul>
						<li><a href="{% url 'about' %}">Guild Info</a></li>
						<li><a href="{% url 'roster:roster' 'name' 'asc' %}">Roster</a></li>
					</ul>
				</li>
				<li><a href="#">Member info</a></li>
				<li>
					<a href="{% url 'recruitment:status' %}">Recruitment</a>
					<ul>
						<li><a href="{% url 'recruitment:status' %}">Status</a></li>
						<li><a href="{% url 'recruitment:apply' %}">Apply Now</a></li>
						<li><a href="{% url 'recruitment:applications' %}">Applications</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="wrapper">
			<div id="content">			
			{% block content %}BLOCK CONTENT{% endblock %}
			</div>
			<div id="footer">
				<hr>
				&copy Deorum Guild 2014
			</div>
		</div>
	</div>
	
	<div id="login_div" title="Login" hidden="true">
            <form id="login_form" action="{% url 'my_login' %}" method="post">
                {% csrf_token %}
                <table>
                    <tr><td>Username:</td><td><input id="id_username" class="login_input" name="username" type="text" max_length="30"></td></tr>
                    <tr><td>Password:</td><td><input id="id_password" class="login_input" name="password" type="password" max_length="30"></td></tr>
                </table>
            </form>
        </div>
	
	</body>
</html>