
{% load staticfiles %}

<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %} {{ TITLE }} {% endblock %}</title>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	</head>
	<body>
	<div id="center">
		<div id="header">
			
		</div>
		<div id="menu-1">
		</div>
		<div id="wrapper">
			<div id="content">
			{% block content %}BLOCK CONTENT{% endblock %}
			</div>
			<div id="footer">
				&copy Deorum Guild 2014
			</div>
		</div>
	</div>
	</html>
</html>