
{% extends 'base.html' %}

{% block content %}

<h3>
Application form
</h3>
<hr>

<form action="{% url 'recruitment:process_application' %}" method="post" id="application_form">
    {% csrf_token %}
    <table style="text-align:left;">
        {{ application_form.as_table }}
        <tr><td colspan="2" align="center"><input align="center" type="submit" value="Apply!"></td></tr>
	</table>
</form>

<script>
    $(document).ready( function() {
		$('#application_form').attr("autocomplete", "off");
	
        $('input[type=submit]').addClass("btn btn-default btn-sm");
		
		$('#id_character_name').parent().parent().before('<h4>Character info</h4>');
		$('#id_email').parent().parent().before('<h4>Contact info</h4>');
		$('#id_name').attr("title", "First name is enough.");
		//$('#id_message').parent().parent().after('<h4>Bot check</h4>');
    });
</script>

{% endblock %}